@import "./parciales/body";
@import "./parciales/reset";
@import "./parciales/main";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Cormorant+Garamond:ital,wght@1,600&family=Dancing+Script:wght@500&family=Montagu+Slab&display=swap');