@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Cormorant+Garamond:ital,wght@1,600&family=Dancing+Script:wght@500&family=Montagu+Slab&display=swap");
.body {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contenedortitulo {
  background: #0f0812;
  background: -webkit-gradient(linear, left top, right top, color-stop(12%, #0f0812), color-stop(50%, #20032a), color-stop(76%, #581c75), color-stop(93%, #6c2d8c));
  background: linear-gradient(90deg, #0f0812 12%, #20032a 50%, #581c75 76%, #6c2d8c 93%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0812",endColorstr="#6c2d8c",GradientType=1);
}

.contenedortituloagua {
  background: #184980;
  background: -webkit-gradient(linear, left top, right top, color-stop(12%, #184980), color-stop(50%, #253fa6), color-stop(76%, #1263bd), color-stop(93%, #5c7ad1));
  background: linear-gradient(90deg, #184980 12%, #253fa6 50%, #1263bd 76%, #5c7ad1 93%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#184980",endColorstr="#5c7ad1",GradientType=1);
}

.contenedortituloaire {
  background: #bfa9bf;
  background: -webkit-gradient(linear, left top, right top, color-stop(12%, #bfa9bf), color-stop(30%, #a35b9e), color-stop(70%, #884891), color-stop(93%, #ba7233));
  background: linear-gradient(90deg, #bfa9bf 12%, #a35b9e 30%, #884891 70%, #ba7233 93%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bfa9bf",endColorstr="#ba7233",GradientType=1);
}

.contenedortitulofuego {
  background: #d62017;
  background: -webkit-gradient(linear, left top, right top, color-stop(12%, #d62017), color-stop(25%, #cb7211), color-stop(70%, #e23113), color-stop(93%, #ffef00));
  background: linear-gradient(90deg, #d62017 12%, #cb7211 25%, #e23113 70%, #ffef00 93%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d62017",endColorstr="#ffef00",GradientType=1);
}

.contenedortitulotierra {
  background: #6b481c;
  background: -webkit-gradient(linear, left top, right top, color-stop(12%, #6b481c), color-stop(25%, #603910), color-stop(70%, #5e2e03), color-stop(93%, #3d0c00));
  background: linear-gradient(90deg, #6b481c 12%, #603910 25%, #5e2e03 70%, #3d0c00 93%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6b481c",endColorstr="#3d0c00",GradientType=1);
}

.tituloheader {
  color: #c3c3c3;
}

.tituloinicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #e0e0e0;
  font-family: 'Montagu Slab', serif;
  opacity: 80%;
}

.imagenelemento {
  width: 100%;
  height: 100%;
  padding: 2 rem;
}

.contenedorelemento {
  position: relative;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 100%;
}

.textodeimagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 11%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 5vw;
  font-weight: 600;
  color: #ffeaea;
  font-style: oblique;
  font-family: 'Cormorant Garamond', serif;
  opacity: 95%;
}

.nav-link {
  color: #c28ee6;
}

.hr {
  border: none;
  height: 4px;
  color: white;
  background-color: white;
}

.textoinicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-style: oblique;
  font-family: 'Sedgwick Ave', cursive;
  font-size: 1rem;
  background-color: #0e0f0f;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.textoinicio:hover {
  background-color: #252525;
}
/*# sourceMappingURL=main.css.map */