
.contenedortitulo{
    background: rgb(15,8,18);
    background: -moz-linear-gradient(90deg, rgba(15,8,18,1) 12%, rgba(32,3,42,1) 50%, rgba(88,28,117,1) 76%, rgba(108,45,140,1) 93%);
    background: -webkit-linear-gradient(90deg, rgba(15,8,18,1) 12%, rgba(32,3,42,1) 50%, rgba(88,28,117,1) 76%, rgba(108,45,140,1) 93%);
    background: linear-gradient(90deg, rgba(15,8,18,1) 12%, rgba(32,3,42,1) 50%, rgba(88,28,117,1) 76%, rgba(108,45,140,1) 93%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0812",endColorstr="#6c2d8c",GradientType=1);
}

.tituloinicio{
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(224, 224, 224);
    font-family: 'Montagu Slab', serif;
    opacity: 80%;
}


.imagenelemento{
     width: 100%;
    height: 100%;
    padding: 2 rem;
   

}
.contenedorelemento{
    position: relative;
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 100%;
  
    

}



.textodeimagen{
    display: flex;
    position: absolute;
    align-content:center;
    justify-content:center;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    font-weight: 600;
    color: rgb(255, 234, 234);
   font-style: oblique;
    font-family: 'Cormorant Garamond', serif;
    opacity: 95%;
  

}
.nav-link{

    color: rgb(194, 142, 230);
}


.hr{
    border: none;
    height: 4px;
    color: white;
    background-color: white;
}
.textoinicio{
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: white;
    font-style:oblique;
    font-family:'Sedgwick Ave', cursive; 
    font-size: 1rem;
    background-color: rgb(14, 15, 15);
    transition: background-color .5s;
    
    
    
}
.textoinicio:hover{
    background-color:rgb(37, 37, 37);

}